nodeRED
[{"id":"970e2477.4f858","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"197921b2.48817e","type":"tcp in","z":"970e2477.4f858","name":"","server":"client","host":"localhost","port":"60002","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":500,"y":360,"wires":[["b70d9b96.cf2218","2d50ed6d.b2c6ba","56b6d8d7.c4e208"]]},{"id":"b70d9b96.cf2218","type":"debug","z":"970e2477.4f858","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":670,"y":240,"wires":[]},{"id":"a76da351.678338","type":"debug","z":"970e2477.4f858","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":960,"y":260,"wires":[]},{"id":"2d50ed6d.b2c6ba","type":"function","z":"970e2477.4f858","name":"Parsing msg","func":"var stringArray;\nvar nodeID;\nvar regexValue = \"CONTENT:\"\nvar regexId = \"NODE:\"\n\nstringArray = msg.payload.split(\" \");\n\nfor(var i = 0; i < stringArray.length; i++){\n    if(stringArray[i].match(regexValue)){\n        flow.set(\"content\", stringArray[i+1]);\n    } else if(stringArray[i].match(regexId)){\n        nodeID = stringArray [i+1];\n    }\n}\n\nmsg.payload = Number(nodeID);\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":360,"wires":[["a76da351.678338","1e46da36.fc7cb6"]]},{"id":"1e46da36.fc7cb6","type":"function","z":"970e2477.4f858","name":"Topic setting","func":"var field;\nvar chann_ID=2227986\nswitch(msg.payload){\n    case 1:\n        field='field1=';\n        break;\n    case 2:\n        field='field2=';\n        break;\n    case 3:\n        field='field3=';\n        break;\n    case 4:\n        field='field4=';\n        break;\n    case 5:\n        field='field5=';\n        break;\n}\n\nmsg.topic = 'channels/'+chann_ID+'/publish'\nmsg.payload = field+flow.get(\"content\")+'&status=MQTTPUBLISH'\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":360,"wires":[["dfd5d6b.5d480a8","c7704517.6314"]]},{"id":"dfc54d9a.22ffd","type":"mqtt out","z":"970e2477.4f858","name":"","topic":"","qos":"","retain":"","broker":"d0d196ec.8cfaa8","x":1430,"y":360,"wires":[]},{"id":"dfd5d6b.5d480a8","type":"delay","z":"970e2477.4f858","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1230,"y":360,"wires":[["dfc54d9a.22ffd"]]},{"id":"c7704517.6314","type":"debug","z":"970e2477.4f858","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1150,"y":300,"wires":[]},{"id":"56b6d8d7.c4e208","type":"file","z":"970e2477.4f858","name":"","filename":"/home/user/Desktop/10595959_10868694.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","x":890,"y":440,"wires":[[]]},{"id":"d0d196ec.8cfaa8","type":"mqtt-broker","z":"","name":"thingspeak_project","broker":"mqtt3.thingspeak.com","port":"1883","clientid":"ExkRLxg6FQY1Axo2HgklMQk","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
