nodeRED
[{"id":"7b5d86e.734ccf8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"182f6238.de1206","type":"tcp in","z":"7b5d86e.734ccf8","name":"","server":"client","host":"localhost","port":"60002","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":500,"y":360,"wires":[["533295cd.1bb494","eb4f1091.522c48","8549a952.ddc2"]]},{"id":"533295cd.1bb494","type":"debug","z":"7b5d86e.734ccf8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":670,"y":240,"wires":[]},{"id":"213ff25d.f0a0ae","type":"debug","z":"7b5d86e.734ccf8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":960,"y":260,"wires":[]},{"id":"eb4f1091.522c48","type":"function","z":"7b5d86e.734ccf8","name":"Parsing msg","func":"var stringArray;\nvar nodeID;\nvar regexValue = \"CONTENT:\"\nvar regexId = \"NODE:\"\n\nstringArray = msg.payload.split(\" \");\n\nfor(var i = 0; i < stringArray.length; i++){\n    if(stringArray[i].match(regexValue)){\n        flow.set(\"content\", stringArray[i+1]);\n    } else if(stringArray[i].match(regexId)){\n        nodeID = stringArray [i+1];\n    }\n}\n\nmsg.payload = Number(nodeID);\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":360,"wires":[["213ff25d.f0a0ae","ce12ca3.13298b8"]]},{"id":"ce12ca3.13298b8","type":"function","z":"7b5d86e.734ccf8","name":"Topic setting","func":"var field;\nvar chann_ID=2227986\nswitch(msg.payload){\n    case 1:\n        field='field1=';\n        break;\n    case 2:\n        field='field2=';\n        break;\n    case 3:\n        field='field3=';\n        break;\n    case 4:\n        field='field4=';\n        break;\n    case 5:\n        field='field5=';\n        break;\n}\n\nmsg.topic = 'channels/'+chann_ID+'/publish'\nmsg.payload = field+flow.get(\"content\")+'&status=MQTTPUBLISH'\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":360,"wires":[["5fb77926.fc0c","daf66a88.48b818"]]},{"id":"62081006.51dee8","type":"mqtt out","z":"7b5d86e.734ccf8","name":"","topic":"","qos":"","retain":"","broker":"d0d196ec.8cfaa8","x":1430,"y":360,"wires":[]},{"id":"5fb77926.fc0c","type":"delay","z":"7b5d86e.734ccf8","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1230,"y":360,"wires":[["62081006.51dee8"]]},{"id":"daf66a88.48b818","type":"debug","z":"7b5d86e.734ccf8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1150,"y":300,"wires":[]},{"id":"8549a952.ddc2","type":"file","z":"7b5d86e.734ccf8","name":"save csv","filename":"/home/user/Desktop/10595959_10868694.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","x":720,"y":480,"wires":[[]]},{"id":"7cca2c5b.6ab31c","type":"inject","z":"7b5d86e.734ccf8","name":"Trasher","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":480,"y":540,"wires":[["4793e545.103944"]]},{"id":"4793e545.103944","type":"file","z":"7b5d86e.734ccf8","name":"csv trasher","filename":"/home/user/Desktop/10595959_10868694.csv","appendNewline":true,"createDir":false,"overwriteFile":"delete","x":670,"y":540,"wires":[[]]},{"id":"d0d196ec.8cfaa8","type":"mqtt-broker","z":"","name":"thingspeak_project","broker":"mqtt3.thingspeak.com","port":"1883","clientid":"ExkRLxg6FQY1Axo2HgklMQk","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
