nodeRED
[{"id":"a75713d6.d667b","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b024243f.cd4498","type":"tcp in","z":"a75713d6.d667b","name":"","server":"client","host":"localhost","port":"60002","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":500,"y":360,"wires":[["bbc3b260.da8c","b24c6635.c963","46729972.5cb4"]]},{"id":"bbc3b260.da8c","type":"debug","z":"a75713d6.d667b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":670,"y":240,"wires":[]},{"id":"35dab26e.074076","type":"debug","z":"a75713d6.d667b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":960,"y":260,"wires":[]},{"id":"b24c6635.c963","type":"function","z":"a75713d6.d667b","name":"Parsing msg","func":"var stringArray;\nvar nodeID;\nvar regexValue = \"CONTENT:\"\nvar regexId = \"NODE:\"\n\nstringArray = msg.payload.split(\" \");\n\nfor(var i = 0; i < stringArray.length; i++){\n    if(stringArray[i].match(regexValue)){\n        flow.set(\"content\", stringArray[i+1]);\n    } else if(stringArray[i].match(regexId)){\n        nodeID = stringArray [i+1];\n    }\n}\n\nmsg.payload = Number(nodeID);\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":360,"wires":[["35dab26e.074076","c9df6952.7c3b98"]]},{"id":"c9df6952.7c3b98","type":"function","z":"a75713d6.d667b","name":"Topic setting","func":"var field;\nvar chann_ID=2227986\nswitch(msg.payload){\n    case 1:\n        field='field1=';\n        break;\n    case 2:\n        field='field2=';\n        break;\n    case 3:\n        field='field3=';\n        break;\n    case 4:\n        field='field4=';\n        break;\n    case 5:\n        field='field5=';\n        break;\n}\n\nmsg.topic = 'channels/'+chann_ID+'/publish'\nmsg.payload = field+flow.get(\"content\")+'&status=MQTTPUBLISH'\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":360,"wires":[["800b416c.4152e","f0b10a01.9101f8"]]},{"id":"5ad8264a.9dc608","type":"mqtt out","z":"a75713d6.d667b","name":"","topic":"","qos":"","retain":"","broker":"4fdb6f19.e80688","x":1430,"y":360,"wires":[]},{"id":"800b416c.4152e","type":"delay","z":"a75713d6.d667b","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1230,"y":360,"wires":[["5ad8264a.9dc608"]]},{"id":"f0b10a01.9101f8","type":"debug","z":"a75713d6.d667b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1150,"y":300,"wires":[]},{"id":"46729972.5cb4","type":"file","z":"a75713d6.d667b","name":"","filename":"/home/user/Desktop/10595959_10868694.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","x":840,"y":480,"wires":[[]]},{"id":"ae827207.f8e6c8","type":"inject","z":"a75713d6.d667b","name":"Trasher","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":480,"y":540,"wires":[["1c9f34d6.6a55eb"]]},{"id":"1c9f34d6.6a55eb","type":"file","z":"a75713d6.d667b","name":"csv trasher","filename":"/home/user/Desktop/10595959_10868694.csv","appendNewline":true,"createDir":false,"overwriteFile":"delete","x":670,"y":540,"wires":[[]]},{"id":"4fdb6f19.e80688","type":"mqtt-broker","z":"","name":"thingspeak_project","broker":"mqtt3.thingspeak.com","port":"1883","clientid":"ExkRLxg6FQY1Axo2HgklMQk","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
